:root {
  --max-width: 960px;
}

@font-face {
  font-family: "Markazi Text";
  src: url("../public/font/MarkaziText-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: "Karla";
  src: url("../public/font/Karla-VariableFont_wght.ttf") format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Markazi Text';
}

h2 {
  font-family: "Karla";
}

header {
  display: block;
}

main {
  display: block;
}

footer {
  display: block;
}

@media (max-width: 480px) {

  .pageSection>section,
  .pageSection>article {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 480px) {

  .pageSection>section,
  .pageSection>article {
    width: 62vw;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
}

header>section {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

header {
  font-family: 'Karla';
  color: black;
  font-weight: 500;
  font-size: 20px;
  width: 100vw;
  background: #fff;
  height: 129px;
  align-content: center;
}

header a:visited {
  color: black;
}

header a:hover {
  color: #495e57;
}

header img {
  height: 60px;
}

.pageSection.highligthts {
  background: #fff;
}

.pageSection.hero {
  font-family: 'Karla';
  font-size: 216pt0px;
  color: #fff;
  background: linear-gradient(180deg, #495e57 0 93%, #fff 93% 100%);
}

.pageSection.hero h2 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 64px;
  color: #f4ce14;
}

.pageSection.hero h3 {
  font-family: 'Karla';
  font-size: 32px;
  color: #fff;
  margin-bottom: 0.5em;
  ;
}

.pageSection.hero img {
  height: 360px;
  width: 310px;
  border-radius: 16px;
}

.pageSection.about {
  background: #fff;
  font-family: 'Karla';
  font-size: 18px;
  text-align: center;
}

nav {
  flex: 1;
  align-content: center;
}

nav>ul {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row;
  padding: 0px;
}

nav>ul>li {
  flex: 1;
  list-style: none;
  text-align: center;
  align-content: center;

}

nav>ul>li>a {
  text-decoration: none;
}

footer {
  font-family: 'Karla';
  font-size: 20px;
  background-color: #495e57;
  color: #fff;
}

footer h3 {
  font-family: 'Karla';
  font-size: 24px;
  font-weight: 800;
  color: #f4ce14;
  margin-bottom: 10px;
}

footer a,
footer a:visited {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #333;
}

@media (max-width: 480px) {
  footer>.content {

    display: flex;
    row-gap: 20px;
    flex-flow: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    align-items: center;
  }

}

@media (min-width: 480px) {
  footer>.content {
    display: flex;
    column-gap: 20px;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 62vw;
    max-width: var(--max-width);
  }
}


footer>.content>img {
  height: 120px;
  width: 120px;
  flex: 0;
  margin-top: 1em;
}

@media (max-width: 480px) {
  footer>.content>div {
    align-items: center;
    flex: 1;
  }
}

@media (min-width: 480px) {

  footer>.content>div {
    flex: 1;
  }
}


footer>.content>div>p {
  flex: 1;
  margin: 0;
}

footer>.content>div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer .lastItem {
  flex: 2 1 100%;
}

html {
  background-color: #495e57;
}

button.online-menu {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 700;
  background-color: #f4ce14;
  border-radius: 8px;
  border: none;
  height: 55px;
  width: 165px;
}

button.reserve-table {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 700;
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  height: 35px;
  width: 200px;
  margin-top: 2em;
}

.pageSection.hero>section>article {
  width: 300px;
}

@media (min-width: 480px) {
  .pageSection.hero>section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 25%;
  }
}

@media (max-width: 480px) {
  .pageSection.hero>section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.pageSection.hero>section>img {
  margin-top: 3rem;
}


.menu-card {
  width: 265px;
  height: 440px;
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.menu-card h4 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 90%;
}

.menu-card h5 {
  font-family: 'Karla';
  font-style: normal;
  font-size: 16px;
}


.menu-card .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.menu-card .menu-action {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  gap: 11px;
  margin-top: auto;
  margin-bottom: 1em;
  align-self: end;
}

.menu-card p {
  font-family: 'Karla';
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
}

.menu-card p.price {
  font-weight: bold;
  color: #EE9972;
}

.menu-card .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 100px auto;
  gap: 2rem;
  overflow: hidden;
  padding: 1.4rem;
}

.menu-card img {
  border-radius: 16px 16px 0 0;
  width: 265px;
  height: 185px;
}

.highligthts .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.highligthts .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;

}

.testimonials {
  background-color: #edefee;
}

.testimonials h2,
.highligthts .title h2 {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 600;

}

.testimonials .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 12%
}


.testimonials h2 {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #495e57;
  padding-top: 2rem;

}

.testimonials .review {
  height: 205px;
  width: 200px;
  background: #fff;
  box-shadow: 1px 1px 3px #333;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
}
.testimonials .review p {
  margin-top: 1rem;
  overflow: scroll;
}

.testimonials {
  min-height: 560px;
}

.testimonials img {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 object-fit: cover;
}

.testimonials .image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;  
}